body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f2f2f2;
    text-align:center;
}

.container{
    position:relative;
    display:inline-block;
    margin-top:60px;
}

#photo{
    width:min(700px, 92vw);
    border-radius:25px;
    display:block;
}
#/* אזור הטשטוש */
#blur{
    position:absolute;

    /* מיקום על הפנים */
    left:300px;
    top:135px;

    /* גודל האליפסה */
    width:190px;
    height:210px;

    /* טשטוש חזק */
    backdrop-filter:blur(28px);
    -webkit-backdrop-filter:blur(28px);

    /* שכבה עדינה */
    background:rgba(255,255,255,0.10);

    /* מסגרת */
    border:2px solid rgba(255,255,255,0.85);

    /* אליפסה אמיתית */
    border-radius:50%;

    cursor:pointer;
    transition:all .4s ease;
}

#blur.open{
    backdrop-filter:blur(0px);
    -webkit-backdrop-filter:blur(0px);

    background:transparent;
    border:none;
}
